.navNavbar {
  background: none;
  padding: 1rem;
}
.userInfo {
  color: green;
}

.userInfo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.userBubble {
  display: inline-flex;
  align-items: center;
  margin-left: 25px;
  gap: 8px;
}

.userAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffad06;
}
.navLink {
  text-decoration: none;
  color: #ff2d6d;
  background: none;
  border: none;
}

.navLink i {
  color: #ff2d6d;
  font-size: 1.3em;
}

.navLink:hover i,
.activeLink i {
  color: lime !important;
}

.navLink:hover,
.activeLink {
  color: lime !important;
}
