.input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 10px;
  border: 1px solid #ddd; 
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  background: #f8f8fc;
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1),
    inset -3px -3px 6px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease, background 0.3s ease;
}

.input:focus {
  border-color: #ff105f;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 16, 95, 0.5);
}